<div class="header row ">

  <div class="logo offset-1 col-2 ">
    <a href="#"> BookShop </a>
  </div>

  <div class="nav  col-7">
    <div class="nav-item">
      <a routerLink="/home" routerLinkActive="active">Home</a>
    </div>
    <div class="nav-item">About</div>

    <div class="nav-item">
      <a routerLink="/products" routerLinkActive="active">Shop</a>
    </div>

    <div class="nav-item">

      <a routerLink="/contact" routerLinkActive="active">Contact</a>

    </div>

    <div class="nav-item"><i class="fa fa-shopping-cart"></i></div>

    <div class="nav-item"><i class="fa fa-search"></i></div>
    <div class="nav-item">
      <a routerLink="/generalsettings" routerLinkActive="active">
        <i class="fa fa-user"></i>
      </a>


    </div>
  </div>
</div>
