<div class="LoginContainer">
  <div class="row">
    <div class="col-md-6">
      <div class="login">
        <div class="container">
          <form [formGroup]="loginForm" (ngSubmit)="login()" class="loginForm">
            <div class="row">
              <div class="input-wrapper col-md-12">
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  placeholder="E-mail Adress"
                  formControlName="email"
                />
              </div>
              <div class="input-wrapper col-md-12">
                <input
                  type="password"
                  name="password"
                  class="form-control"
                  placeholder="Password"
                  formControlName="password"
                />
              </div>
              <div class="input-wrapper radio-wrapper col-md-12">
                <label class="container">
                  <span
                    class="label-text"
                    style="font-size: 14px; color: #939393"
                  >
                    Stay connected ?
                  </span>
                  <input
                    type="checkbox"
                    id="stayConnected"
                    name="stayConnected"
                    value="true"
                    class="stayConnected-input"
                    style="margin-left: 40px"
                    formControlName="stayConnected"
                  />
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <button type="submit" class="login-btn">Log in</button>

            <a href="#" class="forgot">Forgot Password ?</a>
            <div class="signup-wrapper mt-5">
              <hr />
              <p>DON’T HAVE AN ACCOUNT? <a href="#"> SIGN UP</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="hero">
        <img src="../../../assets/img/signup-hero.png" alt="hero" />
      </div>
    </div>
  </div>
</div>
