<div class="container">
  <div class="row">
    <h1 class="title">Payment Informations</h1>
  </div>
  <form>
    <div class="row mt-3">
      <label class="col-4 label-text" for="name-card"> Name on Card </label>
      <input class="input-box" id="name-card" type="text" />
    </div>

    <div class="row mt-3">
      <label class="col-4 label-text" for="card-number"> Card Number </label>
      <input class="input-box" id="card-number" type="number" />
    </div>

    <div class="row mt-3">
      <label class="col-4 label-text" for="expiry-month"> Expiry Month </label>
      <input class="input-box" id="expiry-month" type="text" />
    </div>

    <div class="row mt-3">
      <label class="col-4 label-text" for="expiry-year"> Expiry year </label>
      <input class="input-box" id="expiry-year" type="text" />
    </div>

    <div class="row mt-3">
      <label class="col-4 label-text" for="cvv"> CVV </label>
      <input class="input-box" id="cvv" type="text" />
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center mt-5">
      <button class="save-button" type="submit">Save</button>
    </div>
  </form>
</div>
