<div class="basket">
    <div class="container">
        <div class="header">
            <app-header></app-header>
            <h1 class="shop" style="margin-top: 2%;">Shopping basket details</h1>
        </div>      

        <div class="firstbox">
            <div class="container" style="margin: 2%;">
                <div class="row">
                    <div class="col-6">
                        <h1 class="titlee">Where the crawdels sing</h1>  
                        <img class="bookcover" src="./assets/img/bookcopy.png">            
                    </div>
                    <div class="col-3" style="align-items: center; margin-top: 7%;">
                        <p class="paper">paperback English Delia ownes <br></p>
                        <h1 class="price1">$ 19.9</h1>
                        <p class="Available-dispatched">Available-dispatched from the UK in three busniness day</p>
                    </div>
                    <div class="col-3">
                        <div class="price">
                            <div class="ups">
                                <img src="./assets/img/up.png" class="up"> <br>
                                        <span class="k">
                                                1
                                         </span> <br>
                                <img src="./assets/img/up.png"  class="down">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       <div class="secondbox">
                <div class="container">
                    <div class="row">
                        <div class="col-9">
                            <h2 class=""><span class="">Delivery Cost</span> <span > </span> </h2>
                            <h2 class=""><span class=" ">Total</span> <span class="one"></span> </h2>
                        </div>
                        <div class="col-3">
                            <h2 class="one">FREE</h2>
                            <h2 class="one">$ 19.9</h2>
                            <div class="">
                                <span class="">Add Coupon: </span>
                                <input type="text" name="" id="" class="coup">
                                <button class="but">Apply</button>
                                <div>
                                    <button class=" check">Checkout</button>
                                </div>
                            </div>
                            <div class="">
                                <div class="">
                                    <img src="./assets/img/master1.png"  class="master">
                                    <img src="./assets/img/visa1.png"  class="visa">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
       </div>
    
        
    </div>
</div>

