.label-text {
  /* user name */

  font-style: normal;
  font-weight: bold;
  font-size: 17px;

  color: #000000;
}

/* Rectangle 262 */
.input-box {
  width: 389px;
  height: 43px;

  background: #fdfcfc;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
}

.title {
  width: 287px;
  height: 42px;

  font-style: normal;
  font-weight: bold;
  font-size: 22px;

  color: #ee3c3c;
}

.save-button {
  /* Group 54 */

  width: 220px;
  height: 52px;

  /* Rectangle 269 */

  background-color: #ee3c3c;
  border-radius: 13px;

  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  text-align: center;

  color: #fef5f5;
}

/* Group 53 */
