<div class="header">
  <app-header></app-header>
</div>

<div class="card">
  <div class="row">
      <div class="col-3">
      <img class="bookcover" src="assets/img/bookcopy.png" alt="book" class="" style="width: 180px; margin: 1%;">
  </div>

  <div class="col-6" style="margin-top: 3%;">
      <h4 class="booktitle">{{book.title}}</h4>
      <p>Paperback | English</p>
      <p>By (author) {{book.author_name}}</p>
      <button class="but">Hardcover <br> 19.99$</button>
      <button class="but"> signed book <br>
        $ 29.99</button>
      <button class="but"> Donwload pdf <br>
        $ 25.99</button>
  </div>
  
  <div class="col-3" style="margin-top: 3%;">
      <p>Selected Format: Hardcover</p>
      <h2>$ {{book.price}} </h2>
      <button class="but1" (click)="addProductToCart(book)"> Add To Cart</button>
  </div>
  </div>  

  <div class="row" style="margin: 1%;">
      <h3>Description  {{book.description}}</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="row" style="margin: 1%;">
        <h3>Product Details</h3>
        <br>
      

           <p> <br> <br> Format: Paperback | 384 pages <br>
            Dimensions: 126 x 194 x 28mm | 303g <br>
            Publication: date 20 Dec 2019 <br>
            Publisher: Little, Brown Book Group <br></p> 
     
              <p style="margin-left: 20%;"> <br> <br>
                  Publication City/Country: London, United Kingdom <br>
                  Language: English <br>
                  ISBN10: 1472154665 <br>
                  ISBN13: 9781472154668 <br>
                  Bestsellers: rank 2 <br> </p>
       
  </div>

</div>

<div>
  <app-footer></app-footer>
</div>