
.card{
  margin: 2%;
  border-width: 0.1cm;
  border-color:grey;
}
.booktitle{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.but{
  background-color: #E8EFFC;
  font-style: normal;
  font-weight: normal;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  letter-spacing: 0.05em;
  width: 170px;
  height: 60px;
  border-radius: 13px;
  margin-left: 20px;
  margin-top: 5%;
}

.but1{
  top:  10px;
  left: 80px;
  background-color: #9E8BFF;
  width: 240px;
  height: 51px;
  font-size: 22px;
  border-radius: 8px;
  margin-top: 10%;
}
