<div class="product">
  <div class="product-details">
    <div class="product-image">
      <img src="./assets/img/book.png" alt="book" />
    </div>
    <div class="product-name">Book Name</div>
    <div class="product-date">01/01/2021</div>
    <div class="product-rate">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-empty"></i>
      <i class="fa fa-star-o"></i>
    </div>
    <div class="productButton">
      <a [routerLink]="['/item']">View</a>

    </div>
  </div>
</div>
