<div class="footer">
  <div class="container">
    <div class="links">
      <div class="row">
        <div class="col-md-4">
          <div class="title text-center">Customer Services</div>
          <div class="text-center">Lorem upsum</div>
          <div class="text-center">Lorem upsum</div>
          <div class="text-center">Lorem upsum</div>
        </div>
        <div class="col-md-4">
          <div class="title text-center">About us</div>
          <div class="text-center">Lorem upsm</div>
          <div class="text-center">Lorem upsum</div>
          <div class="text-center">Lorem upsum</div>
        </div>
        <div class="col-md-4">
          <div class="title text-center">Terms Of Use</div>
          <div class="text-center">Lorem upsum</div>
          <div class="text-center">Lorem upsum</div>
          <div class="text-center">Lorem upum</div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <hr />
      <strong>Copyright © 2021 BookShop</strong>
    </div>
  </div>
</div>
