<h1 class="shop">Shopping basket details</h1>
<div class="firstbox">
 
 <div class="all">   
     <img class="bookcover" src="./assets/img/bookcopy.png">
     <h1 class="titlee">Where the crawdels sing</h1>     
     <div class="detail">
          <p class="">
              paperback English Delia ownes <br>
         </p>
         <h1 class="">$ 19.9</h1>
          <p class="">
               Available-dispatched from the UK in three busniness day
         </p>
     </div>   
 </div>
 <div class="price">
     <h1 class="pr">$ 19.9</h1>
         <div class="ups">
             <img src="./assets/img/up.png" class="up">
                     <span class="k">
                             1
                      </span>
             <img src="./assets/img/up.png"  class="down">
         </div>
 </div>
 </div>

 <div class="secondbox">
     <div class="paym">
         <h2 class=""><span class="">Delivery Cost</span> <span > </span> </h2>
         <h2 class="one">FREE</h2>
         <h2 class=""><span class=" ">Total</span> <span class="one"></span> </h2>
         <h2 class="one">$ 19.9</h2>
         <div class="">
             <span class="">Add Coupon: </span>
             <input type="text" name="" id="" class="coup">
             <button class="but">Apply</button>
             <div>
                 <button class=" check">Checkout</button>
             </div>
         </div>
     </div>
     <hr>
         <div class="">
             <div class="">
                 <img src="./assets/img/master1.png"  class="master">
                 <img src="./assets/img/visa1.png"  class="visa">
             </div>
         </div>



     </div>